/* @import url('https://fonts.googleapis.com/css?family=Roboto|Space+Mono'); */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

/* As I don't want to get around to configuring org-mode */
/* to output the html I want, we have to use these. */

h1,h2,h3,h4 {
    font-family: monospace !important;
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: .60rem;
}

.blog-card {
    max-height: 250px;
    display: block;
}

ul,li {
    padding-left: 7px;
    word-wrap: break-word;
}

.blog-article {
    width: 80%;
}

.navbar-no-padding {
    padding: 0 !important;
}

.light-padding {
    padding: 0px !important;
}

.blog-side-bar-title {
    padding: 10px;
    box-sizing: border-box

}

.no-wrap {
    display: flex;
    white-space:nowrap;
}

.monospace {
    font-family: monospace;
    font-family: 'IBM Plex Mono', monospace;
}

.blog-font {
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
}

.tight-column {
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-sizing: border-box
}

.center-desktop {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

}

.bordered {
    border: 3px solid grey;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-underlined {
    border-bottom:3px solid lightgrey !important;
}

.index-card {
    margin-top: 10px;
    width: 600px;
}

@media only screen and (max-width: 812px) {
    .center-desktop {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 0vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }
    .blog-article {
        width: 100%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.src {
    background-color: #26282b;
    padding: 10px;
    font-family: monospace !important;
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 1rem !important;
}

.example {
    background-color: #26282b;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


code {
    font-family: monospace !important;
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 1rem !important;
    color: #009b75 !important;
}

.underline {
    text-decoration: underline
}

table {
    margin: 0 auto;
    border: white 1px;
    /* border-bottom: black 1px !important; */
    padding-bottom: 10px;
}

