[Unit]
Description=dpbriggs.ca website rocket

[Service]
ExecStart=/home/david/run_site.sh
Restart=always
RuntimeMaxSec=43200
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=8192

[Install]
WantedBy=default.target
