[Unit]
Description=dpbriggs.ca website rocket
After=network.target

[Service]
Type=simple
ExecStart=/home/david/dpbriggs-blog
WorkingDirectory=/home/david
Restart=on-failure

[Install]
WantedBy=multi-user.target
