{% extends "base" %}

{% block content %}
<div class="monospace">
     <div>
        <div class="container-fluid center-desktop d-flex h-100">
        <div class="row align-items-center w-100">
            <div class="align-self-center bordered mx-auto index-card monospace" style="text-decoration: none">
                {% block centerpage %}
                {% endblock centerpage %}
            </div>
        </div>
        </div>
     </div>
</div>
{% endblock content %}
