{% extends "base" %}

{% block content %}
<p>
    <p> Site is under construction. </p>
    <pre>
        <code class="python">
      def oh_hai_there():
          print("hello")
        </code>
    </pre>
</p>
{% endblock content %}
